<div>
  <tabs [tabItems]="['Consulta', 'Registro']" [tabIcons]="['folder', 'plus-circle']" (tabIndex)="getMessage($event)">
  </tabs>
  <div *ngIf="recivedTabIndex==0" class="containerTool">
    <div class="container mt-4">
      <h3 class="mb-4">Herramientas</h3>
      <div class="table-responsive">
        <input type="text" class="form-control" placeholder="Buscar por nombre"><!--[(ngModel)]="filterResults"-->
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-bordered">
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <!--<th>Imagen</th>-->
              <th>Estatus</th>
              <!--<th>Estado de Herramienta</th>
              <th>Fecha Adquisición</th>
              <th>Categoria</th>-->
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              @for (tool of paginatedTools; track tool.toolId) {
              <tr>
                <td>{{ tool.code}}</td>
                <td>
                  <a role="button" (click)="toggleDetails(tool)">
                    {{ tool.name }}
                  </a>
                </td>
                <!--<td>{{ tool.image }}</td>-->
                <td>{{ tool.status }}</td>
                <!--<td>{{ tool.toolState }}</td>
              <td>{{ tool.acquisitionDate | date: 'shortDate' }}</td>
              <td>{{ tool.category }}</td>-->
                <td><button class="btn btn-sm btn-primary me-2" (click)="updateTool(tool)"><i
                      class="bi bi-pencil-fill"></i>
                  </button><button class="btn btn-sm btn-danger" (click)="deleteTool(tool)"><i
                      class="bi bi-trash-fill"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="tool.showDetails">
                <td colspan="4">
                  <table class="table caption-top table-striped-columns">
                    <caption>Detalles</caption>
                    <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ tool.category.categoryType }}</td>
                        <td>{{ tool.category.name }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              }
            </ng-container>
          </tbody>
        </table>
        <!-- Paginación -->
        <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
          [collectionSize]="tools.length" (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5"
          *ngIf="tools.length"> pageSize">
        </ngb-pagination>
        <!--Fin Paginacion-->
      </div>
    </div><!--Fin container mt-4-->
  </div>
  <div *ngIf="recivedTabIndex==1" class="containerTool">
    <div class="container mt-4">
      <h4 class="mb-4">{{toolLabel}}</h4>
      <form [formGroup]="toolForm" (ngSubmit)="onSubmit(toolButton)">
        <div class="row">
          <!-- Columna 1 -->
          <div id="Tools-Left-Column" class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" id="name" class="form-control col-form-label" formControlName="name" />
              <div *ngIf="toolForm.get('name')?.invalid && toolForm.get('name')?.touched" class="text-danger">
                El Nombre de la Herramienta es un campo requerido
              </div>
            </div>
            <div class="mb-3">
              <label>Código</label>
              <input type="text" class="form-control col-form-label" formControlName="code" id="code" />
              <div *ngIf="toolForm.get('code')?.invalid && toolForm.get('code')?.touched" class="text-danger">
                El Código de la Herramienta es un campo requerido
              </div>
            </div>
            <div class="mb-3">
              <label for="formFile">Seleccione imagen</label>
              <input class="form-control col-form-label" type="file" id="formFile" value="Seleccione imagen">
            </div><!---->
            <div class="mb-3">
              <label>Estado de la Herramienta</label>
              <select class="form-select" formControlName="toolState">
                <option value="" disabled>Seleccione un estado</option>
                <option value="BUENO">BUENO</option>
                <option value="MALO">MALO</option>
                <option value="MALO">REPARACIÓN</option>
              </select>
            </div>
          </div>
          <!-- Columna 2 -->
          <div id="Tools-Right-Column" class="col-md-6">
            <div class="mb-3">
              <label for="status" class="form-label">Estatus</label>
              <select class="form-select" formControlName="status">
                <option value="" disabled>Seleccione un estado</option>
                <option value="ACTIVO">ACTIVO</option>
                <option value="INACTIVO">INACTIVO</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="category">Seleccione una Categoría:</label>
              <select class="form-control" id="category" formControlName="category"
                (ngModelChange)="onSelectChange($event)">
                <option [ngValue]="null">-- Select --</option>
                <option *ngFor="let cat of categories" [ngValue]="cat.categoryId">
                  {{ cat.name }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="fecha" class="">*Fecha de adquisición</label>
              <div class="input-group">
                <input class="form-control" id="fecha" placeholder="yyyy-mm-dd" name="acquisitionDate" ngbDatepicker
                  #d="ngbDatepicker" formControlName="acquisitionDate" />
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">📅</button>
              </div>
              <div *ngIf="toolForm.get('acquisitionDate')?.invalid && toolForm.get('acquisitionDate')?.touched"
                class="text-danger">
                Fecha de Adquisición de la Herramienta es un campo requerido!
              </div>
            </div>

            <div class="mb-3 ">
              <label for="fecha" class=""></label>
              <div class="input-group-append">
                <div class="text-end">
                  <button type="submit" class="btn btn-sm btn-primary">{{toolButton}}</button>
                  <button type="button" class="btn btn-sm btn-danger" (click)="onClear()">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>