<div>
  <tabs [tabItems]="['Consulta', 'Crear Servicio', 'Pagos']" [tabIcons]="['journal-check', 'plus-circle', 'cash-coin']" [requiredTabId]=reqTabId  (tabIndex)="getMessage($event)">
  </tabs>
  <!-- **************** C O M I E N Z A   E L   T A B   D E   C O N S U L T A **************** -->
  <div *ngIf="recivedTabIndex==0" class="containerService ">
    <div class="container mt-4">
      <h3 class="mb-4">Servicios</h3>
      <div style="margin-bottom: 25px;"> <!--Navigation Menu-->
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeService" (navChange)="onNavChange($event)"  class="nav-tabs">
          <li [ngbNavItem]="1"> <button ngbNavLink>Servicios Fijos</button></li>
          <li [ngbNavItem]="2"> <button ngbNavLink>Servicios Eventuales</button> </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        
        <div *ngIf="activeService == 1"  class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isExtraSwitchValue" (change)="onSwitchChange()">
          <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar Servicios Extras</label>
        </div>
      </div>


      <div class="table-responsive"> <!--Navigation Menu-->
        <input type="text" class="form-control" placeholder="Buscar por nombre">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Servicio</th>
                <th>Fecha Servicio</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <!--@if (!isLoading) {-->
              
              <ng-container> <!--*ngFor="let parentItem of serviceList"   paginatedServices-->
                @for (parentItem of paginatedServices; track parentItem.serviceId) {
                  
                <tr>
                  
                  <td>{{parentItem.client.name}} {{parentItem.client.lastName}} {{parentItem.invoice?.payment[0].isServicePaid}}</td>
                  <td>
                    <a role="button" (click)="toggleDetails(parentItem)" ngbTooltip="Ver más detalles">
                      {{ parentItem.serviceName }}
                    </a>
                  </td>
                  <td>{{ parentItem.serviceDate | date:'yyyy-MM-dd' }}</td>
                  <td
                    [ngClass]="{'table-success': parentItem.status.toLowerCase() === 'terminado', 'table-progress': parentItem.status.toLowerCase() === 'en proceso', 'table-recurrent': parentItem.status.toLowerCase() === 'recurrente'}">
                    {{ parentItem.status }}</td>
                  <td>

                    <button *ngIf="(parentItem.status.toLowerCase() != 'terminado' && !parentItem.invoice?.payment[0].isServicePaid) " class="btn btn-sm btn-outline-primary " (click)="updateServiceDetail(parentItem)" ngbTooltip="Actualizar Servicio"><i class="bi bi-pencil"></i></button>
                    <button *ngIf="(parentItem.status.toLowerCase() != 'terminado' && !parentItem.invoice?.payment[0].isServicePaid) " class="btn btn-sm btn-outline-danger " (click)="deleteServiceDetail(parentItem)" ngbTooltip="Eliminar Servicio"><i class="bi bi-trash"></i></button>
                    <button *ngIf="parentItem.invoice?.payment[0].isServicePaid && parentItem.invoice?.isGenerated" class="btn btn-sm btn-outline-info" (click)="sendEmail(parentItem)" ngbTooltip="Enviar Correo y Cerrar Servicio"><i class="bi bi-envelope-at"></i></button>
                  </td>
                </tr>
                <tr *ngIf="parentItem.showDetails">
                  <td colspan="5">
                      <table class="table caption-top table-striped-columns">
                      <caption>Detalles del Servicio </caption>
                      <thead>
                        <tr>
                          <th>Tipo</th>
                          <th>Descripcion</th>
                          <th>Unidades</th>
                          <th>Cantidad</th>
                          <th>Precio</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let childItem of parentItem.serviceDetail">
                          <td>{{ childItem.serviceType }}</td>
                          <td>{{ childItem.description }}</td>
                          <td>{{ childItem.unitMeasurement }}</td>
                          <td>{{ childItem.quantity }}</td>
                          <td>${{ childItem.price }}</td>

                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              }
              </ng-container>
             <!-- } @else {
              <tr>
                <td colspan="5" style="text-align: center">Cargando....</td>
              </tr>
              }-->
            </tbody>
          </table>
          <!-- Paginación -->
        <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
          [collectionSize]="services.length" (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="3"
          *ngIf="services.length> pageSize"> {{services.length}}
        </ngb-pagination>
        <!--Fin Paginacion-->
        </div>
        
      </div>
    </div><!--Fin container mt-4-->
  </div>
  <!-- **************** T E R M I N A   E L   T A B   D E   C O N S U L T A **************** -->

  <!-- **************** E M P I E Z A   E L   T A B   D E   S E R V I C I O S **************** -->
  <div *ngIf="recivedTabIndex==1" class="containerService">
    <div class="container mt-4">
      <h3 class="mb-4">{{serviceLabel}}</h3>

       
        <div *ngFor="let option of radioOptions; let i = index" class="form-check form-check-inline">
          <input class="form-check-input"  type="radio" name="isExtra"  [(ngModel)]="extraValue" [value]="option" id="{{option}}" (change)="onRadioChange()">
          <label class="form-check-label" for="{{option}}">{{option}}</label>
        </div>

        <hr class="border-secondary border-3">
        
        <form [formGroup]="serviceForm" id="serviceFormId" (ngSubmit)="onSubmit(serviceButton)">
        <div class="row">
          <!-- Row 1 / Columna 1 -->
          <div id="Service-Left-Column" class="col-md-6">
            <div  class="mb-3">
              <div formGroupName="client">
              <label for="clientSelect">&nbsp;Cliente</label>
              <ng-select readonly="{{isReadOnly}}" [items]="clientList" bindLabel="fullName" formControlName="clientId" bindValue="clientId" placeholder="-- Seleccione --"   > </ng-select>
              </div>
            
              &nbsp; Nombre del Servicio
              <input type="text" class="form-control col-form-label" formControlName="serviceName" id="serviceName" />
              <div *ngIf="serviceForm.get('serviceName')?.invalid && serviceForm.get('serviceName')?.touched" class="text-danger">
                Campo requerido
              </div>
            </div>
          </div>

          <!-- Row 1 / Columna 2 -->
          <div id="Service-Right-Column" class="col-md-6">
            <div class="mb-3">
              <label for="fecha" class="">&nbsp;*Fecha del Servicio</label>
              <div class="input-group">
                <input class="form-control" type="text"  id="serviceDate" placeholder="yyyy-mm-dd" name="serviceDate" ngbDatepicker #d="ngbDatepicker" formControlName="serviceDate" />
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">📅</button>
              </div>
              <div *ngIf="serviceForm.get('serviceDate')?.invalid && serviceForm.get('serviceDate')?.touched" class="text-danger">
                Campo requerido
              </div>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">&nbsp;Estado del Servicio</label>
               <div *ngIf="extraValue == 'Extra' || extraValue == 'Eventual'" >
                  <input type="text" readonly  class="form-control col-form-label" formControlName="status" id="status" />
              </div>
              <!--select class="form-select" formControlName="status">
                <option value="En Proceso">En Proceso</option>
                <option value="Terminado">Terminado</option>
              </select-->
              <div *ngIf="extraValue == 'Fijo'"  class="form-check form-switch">
                <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" id="flexSwitchCheckRecurrente" [(ngModel)]="isRecurrentService" (change)="onRecurrentSwitchChange()">
                <label class="form-check-label" for="flexSwitchCheckRecurrente">Servicio Recurrente</label>
               </div>
            </div>
          </div>

          <div *ngIf="serviceDetails.length > 0" id="Botton-Column" class="col-md-12">
            &nbsp; Lista de Tareas
            <div class="container list-group list-group-scrollable">
              <div class="row" *ngFor="let servDetail of serviceDetails; index as idx ">
                <div  class="col-md-11 col-10">
                  <button  type="button" (click)="onEditDetails(servDetail, idx)" class="list-group-item list-group-item-action">{{idx+1}}.- {{servDetail.description.slice(0,30)}}...</button>
                </div>
                <div class="col-md-1 col-2">
                  <button style="padding-left:25% ; padding-right:25% ;  margin-top: 5%; margin-left: 40%;"  type="button" (click)="onDeleteDetails(idx)" class="btn btn-sm btn-outline-danger"> <i class="bi bi-trash-fill"></i>  </button>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <!--Termina row 1-->
        </form>

        <hr class="border-secondary border-1">
        <h5 class="mb-4">&nbsp;&nbsp;&nbsp;&nbsp;Tareas del Servicio</h5>
        <!--Comienza row 2-->
        <div class="row">
          <!-- Row 2 / Columna 1 -->
          <div id="ServiceDeatils-Left-Column" class="col-md-4">
            <div class="mb-3">
              
              <input type="text" name="serviceType" (input)="onInput($event)" [(ngModel)]="serviceType" class="form-control col-form-label" id="serviceType" placeholder="Tipo de Servicio" (blur)="onInputBlur('serviceType')" />
              <div *ngIf="(!serviceTypeIsValid && serviceType == undefined) || (!serviceTypeIsValid && serviceType && serviceType.length <= 0) " class="text-danger">
                Campo requerido
              </div>
              
            </div>
            <div class="mb-3">
              
              <input type="text"  name="quantity"  (input)="onInput($event,'is-number')" [(ngModel)]="quantity"  class="form-control col-form-label" id="quantity" placeholder="Cantidad de Unidades"  (blur)="onInputBlur('quantity')"/>
              <div *ngIf="!quantityIsValid && !quantity && typeof quantity !== 'number'" class="text-danger">
                Campo requerido
              </div>
              <div *ngIf="!quantityIsValid && quantity && typeof quantity !== 'number'" class="text-danger">
                '{{quantity}}' no es numero
              </div>
            </div>

          </div><!---->
          <div id="ServiceDeatils-Middle-Column" class="col-md-4">
            <div class="mb-3">
              
              <input type="text" name="description"  (input)="onInput($event)"[(ngModel)]="description" class="form-control col-form-label" id="description" placeholder="Descripci&oacute;n" (blur)="onInputBlur('description')"/>
              <div *ngIf="(!descriptionIsValid && description == undefined) || (!descriptionIsValid && description && description.length <= 0)" class="text-danger">
                Campo requerido
              </div>
            </div>
            <div class="mb-3">
              
              <input type="text" name="price"  (input)="onInput($event,'is-number')" [(ngModel)]="price" class="form-control col-form-label" placeholder="Precio" (blur)="onInputBlur('price')" />
              <div *ngIf="!priceIsValid && !price && typeof price !== 'number'" class="text-danger">
                Campo requerido
              </div>
              <div *ngIf="!priceIsValid && price && typeof price !== 'number'" class="text-danger">
                '{{price}}' no es numero
              </div>
            </div>

          </div><!---->

          <!-- Row 2 /  Columna 2 -->
          <div id="ServiceDeatils-Right-Column" class="col-md-4">
            <div class="mb-3">
              <input type="text" name="unitMeasurement" (input)="onInput($event)" [(ngModel)]="unitMeasurement" class="form-control col-form-label" id="unitMeasurement" placeholder="Unidad de Medida"  (blur)="onInputBlur('unitMeasurement')"/>
              <div *ngIf="(!unitMeasurementIsValid && unitMeasurement == undefined) || (!unitMeasurementIsValid && unitMeasurement && unitMeasurement.length <= 0)" class="text-danger">
                Campo requerido
              </div>
            </div>

            
            <div class="mb-3 ">
              <label for="asdf" class=""></label>
              <div class="input-group-append">
                <div class="text-end">
                  <button [disabled]="disableDetailsButton()" type="button" class="btn btn-sm btn-outline-info" (click)="onAddDetails()">Agregar Tarea</button>
                  <button type="submit" form="serviceFormId" class="btn btn-sm btn-outline-primary">{{serviceButton}}</button>
                  <button type="button" class="btn btn-sm btn-outline-danger" (click)="onCancel()">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Termina row 2-->
      <!--/form-->
    </div>
  </div>
  <!-- **************** T E R M I N A   E L   T A B   D E   S E R V I C I O S **************** -->

  <!-- **************** C O M I E N Z A   E L   T A B   D E   P A G O S **************** -->
    <div *ngIf="recivedTabIndex==2" class="containerService">
    <div class="container mt-4">
      <h3 class="mb-4">Pagos</h3>
      <div class="table-responsive">
        <input type="text" class="form-control" placeholder="Buscar por Cliente" (keyup)="onKeyUp($event)" [(ngModel)]="clientEntitiyToGet" (ngModelChange)="onNameChange($event)">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Servicio</th>
                <th>Fecha Pago</th>
                <th>Pago</th>
                <th>Impuesto</th>
                <th>Metodo</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            
            <tbody>
              @if (!isLoading) {
              
              <ng-container> <!--*ngFor="let parentItem of serviceList"   paginatedServices-->
                @for (parentItem of paginatedServices; track parentItem.serviceId; let i = $index) {
                
                  
                <tr>
                  <td> <!-- Cliente -->
                    {{parentItem.client.name}} {{parentItem.client.lastName}}
                  </td>

                  <td> <!-- Servicio -->
                    {{ parentItem.serviceName }}
                  </td>

                  <td> <!--Fecha de pago -->
                    <div class="input-group">
                      <input class="form-control" [disabled]="paymentObjects[i].isServicePaid" type="text" id="paymentDate" name="paymentDate{{i}}"  [(ngModel)]="paymentObjects[i].paymentDate"  placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker"  (blur)="onInputBlur('paymentDate',i)" />
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">📅</button>
                    </div>
                  </td>
                  
                  <td> <!-- Pago  $$ -->
                    <div class="mb-3">
                      <input type="text" name="paymentAmount{{i}}" [disabled]="paymentObjects[i].isServicePaid" (input)="onInput($event,'is-number')" [(ngModel)]="paymentObjects[i].paymentAmount" class="form-control col-form-label" id="paymentAmount"  placeholder="Cantidad de Pago"  (blur)="onInputBlur('paymentAmount',i)"/>
                      <div *ngIf="!paymentAmountIsValid && !paymentObjects[i].paymentAmount && typeof paymentObjects[i].paymentAmount !== 'number'" class="text-danger">
                        Campo requerido
                      </div>
                      <div *ngIf="!paymentAmountIsValid && paymentObjects[i].paymentAmount && typeof paymentObjects[i].paymentAmount !== 'number'" class="text-danger">
                        '{{paymentObjects[i].paymentAmount}}' no es numero
                      </div>
                    </div>
                  </td>

                  <td> <!-- Impuesto $$ -->
                    <div class="mb-3">
                      <input type="text" name="taxAmount{{i}}" [disabled]="paymentObjects[i].isServicePaid" (input)="onInput($event, 'is-number')"  [(ngModel)]="paymentObjects[i].taxAmount"  class="form-control col-form-label" id="taxAmount" placeholder="Cantidad de Impuesto"  (blur)="onInputBlur('taxAmount',i)"/>
                      <div *ngIf="!taxAmountIsValid && !paymentObjects[i].taxAmount && typeof paymentObjects[i].taxAmount !== 'number'" class="text-danger">
                        Campo requerido
                      </div>
                      <div *ngIf="!taxAmountIsValid && paymentObjects[i].taxAmount && typeof paymentObjects[i].taxAmount !== 'number'" class="text-danger">
                        '{{paymentObjects[i].taxAmount}}' no es numero
                      </div>
                    </div>
                  </td>

                  <td> <!-- Metodo -->
                    <div class="mb-3">
                      <select class="form-select" [disabled]="paymentObjects[i].isServicePaid" name="paymentMethod{{i}}"  [(ngModel)]="paymentObjects[i].paymentMethod" (blur)="onInputBlur('paymentMethod',i)" >
                        <option [ngValue]="null" disabled selected>Seleccionar:</option>
                        <option *ngFor="let method of PaymentMethod" [ngValue]="method.value">
                          {{method.label}}
                        </option>
                      </select>
                    </div>
                  </td>

                  <td> <!-- Estado del pago  -->
                    <div  class="form-check form-switch">
                      <label class="form-check-label" for="flexSwitchCheckRecurrente">{{paymentObjects[i].paymentStatus}}</label>
                      <input class="form-check-input"  disabled type="checkbox"  id="flexSwitchCheckPayStatus" [(ngModel)]="paymentObjects[i].isServicePaid" >
                      
                    </div>
                  </td>
                  <td> <!--Acciones  -->
                    <div class="actions-container "> 

                      <button *ngIf="!paymentObjects[i].isServicePaid" class="btn btn-sm btn-outline-success" (click)="onPaymentSubmit(i,parentItem)" ngbTooltip="Confirmar Pago"><i class="bi bi-currency-dollar"></i></button>
                      <button *ngIf="paymentObjects[i].isServicePaid && !parentItem.invoice?.isGenerated" class="btn btn-sm btn-outline-primary" (click)="generateInvoice(parentItem)" ngbTooltip="Generar Factura"><i class="bi bi-receipt-cutoff"></i></button>
                      <button *ngIf="paymentObjects[i].isServicePaid && parentItem.invoice?.isGenerated" class="btn btn-sm btn-outline-info" (click)="sendEmail(parentItem)" ngbTooltip="Enviar Correo y Cerrar Servicio"><i class="bi bi-envelope-at"></i></button>

                    </div>    
                  </td>
                </tr>
              }
              </ng-container>
             } @else {
              <tr>
                <td colspan="8" style="text-align: center">Cargando....</td>
              </tr>
              }
            </tbody>
          </table>
          <!-- Paginación -->
        <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
          [collectionSize]="services.length" (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="2"
          *ngIf="services.length> pageSize"> {{services.length}}
        </ngb-pagination>
        <!--Fin Paginacion-->

        <div *ngIf="pdfUrl" class="mt-4">
    <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
  </div>
        </div>
        
      </div>
    </div><!--Fin container mt-4-->
  </div>
  <!-- **************** T E R M I N A   E L   T A B   D E   P A G O S **************** -->
</div>  