.table-success{
    background-color: green;
}

.table-danger{
    background-color:gold ;
}

a[role="button"] {
  color: blue; /* Or a specific hex code like #0000FF */
}

a[role="button"]:hover {
  color: blue; /* Or a specific hex code like #0000FF */
  text-decoration:underline; 
}

.containerService {
  //width: 85%;
  /* Ancho deseado */
  margin: 0 auto;
  /* Centra horizontalmente */
  background-color: rgba(235, 243, 238, 0.678);
  /* Opcional, para visualizar */
  height: 100%;
}

.list-group-scrollable {
    max-height: 150px; /* Adjust this value as needed */
    overflow-y: scroll;
}
