<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" >
  <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 d-none d-sm-inline">Menu</span>
  </a>
  
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <ng-container *ngFor="let item of sidebarItems; let i = index">
      <ng-container *ngIf="shellService.allowedAccess(item)">
        <div style="margin-top:15 px; margin-bottom: 15px;" class="nav-item" ngbDropdown>
          <li>
            <ng-container *ngIf="item.subItems && item.subItems.length; else elseBlock">
              <a (click)="activateSidebarItem(i)" style="color: #d9ef9f; text-decoration: none;" class="px-sm-0 px-2 "
                ngbDropdownToggle id="navbarDropdown{{ i }}" role="button">
                <i style="color: #d9ef9f;" class="fs-5 bi-{{ item.icon }}"></i>
                <span class="ms-1 d-none d-sm-inline text-white">{{ item.title }}</span>
              </a>
              <ng-container *ngIf="item.subItems && item.subItems.length">
                <div ngbDropdownMenu attr.aria-labelledby="navbarDropdown{{ i }}" class="sub-menu-items">
                  <ng-container *ngFor="let subItem of item.subItems">
                    <ng-container *ngIf="shellService.allowedAccess(subItem)">

                      <a ngbDropdownItem (click)="activateSidebarSubItem(i, subItem);"
                        [routerLink]="subItem.href || undefined" routerLinkActive="active">

                        <i class="fs-5 bi-{{ subItem.icon }}"></i> {{ subItem.title }}
                      </a>

                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #elseBlock>
              <a (click)="activateSidebarItem(i)" style="color: #d9ef9f; text-decoration: none;" class="px-sm-0 px-2 "
                id="navbarDropdown{{ i }}" role="button">
                <i style="color: #d9ef9f;" class="fs-5 bi-{{ item.icon }}"></i>
                <span class="ms-1 d-none d-sm-inline text-white">{{ item.title }}</span>
              </a>
            </ng-template>
          </li>
        </div>
      </ng-container>
    </ng-container>
  </ul>
</div>
