.toggle-icon {
  &.open {
    transform: rotate(0deg);
  }

  &:hover {
    background: var(--dull-orange);
  }
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 43px;
  margin-left: 26px;
  cursor: pointer;

  .logo {
    width: 30px;
    height: 30px;
    transition: width 0.3s ease-in-out;
  }

  h4 {
    color: var(--white);
    margin-left: 10px;
    transition: opacity 0.3s ease-in-out;
  }
}

.submenu-icon {
  &.open {
    transform: rotate(180deg);
  }
}

.sub-menu-items {
  a {
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #ececec; //rgba(10, 58, 14, 0.719); //lightgray;
      }
  }

  .disabled {
    cursor: not-allowed !important;
    opacity: 0.3 !important;
  }

  .active {
    background-color: #586e26; //rgba(255, 255, 255, 0.04);//
    color: white;
    
    //color: var(--dull-orange);
  }
}




footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--deep-gray);
  padding: 15px 2px;
  overflow: hidden;

  .store-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

    img {
      width: 100px;
      height: 30px;
    }
  }

  .app-version {
    color: var(--sidebar-icon-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    width: 130px;
    word-wrap: normal;
    white-space: nowrap;
    margin: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    small {
      font-size: 10px;
    }
  }
}


// Aux Class

.pb {
  padding-bottom: 110px;
}