
.containerClient {
  //width: 85%;
  /* Ancho deseado */
  margin: 0 auto;
  /* Centra horizontalmente */
  background-color: rgba(235, 243, 238, 0.678);
  /* Opcional, para visualizar */
  height: 100%;
}
