<div>
  <tabs [tabItems]="['Consulta', 'Registro']" [tabIcons]="['folder', 'plus-circle']" [requiredTabId]=reqTabId (tabIndex)="getMessage($event)"></tabs>
  <div *ngIf="recivedTabIndex==0" class="user-table-container">
    <div class="container mt-2">
      <h3 class="mb-4">Usuarios</h3>
      <div class="table-responsive">
        <input type="text" class="form-control" placeholder="Buscar por Usuario" (keyup)="onKeyUp($event)" [(ngModel)]="userEntitiyToGet" (ngModelChange)="onNameChange($event)"><!--[(ngModel)]="filterResults"-->
         <table class="user-table table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th style="width: 8%;" >Avatar</th>
              <th>Nombre</th>
              <th>Correo Electr&oacute;nico</th>
              <th>Tel&eacute;fono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @if (!isLoading) {
            @for (user of paginatedUsersList; track user.email) {
            <tr >
              <td style="text-align:center;">
                <input type="file" (change)="onFileSelected($event,user)" #fileInput accept="image/png" name="thumbnail" >
                <button class="btn btn-sm " ngbTooltip="Actualizar Avatar" (click)="fileInput.click()">
                  <img [src]="user.imgBlob" (error)="onImgError($event)" />
                </button>
              </td>
              <td>
                 {{user.firstname}} {{user.lastname}}
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td style="width: 8%; text-align: center; ">
                <button class="btn btn-sm btn-outline-info" (click)="updateUser(user)" ngbTooltip="Actualizar Usuario"><i class="bi bi-pencil-fill"></i>
                </button>
                <button  class="btn btn-sm btn-outline-danger" (click)="deleteUser(user)" ngbTooltip="Eliminar Usuario"><i class="bi bi-trash-fill"></i>
                </button></td>
            </tr>
            }
            } @else {
            <tr>
              <td colspan="5" style="text-align: center">Cargando...</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- Paginación -->
      <ngb-pagination class="d-flex justify-content-center"  [collectionSize]="usersList.length"  [(page)]="page" [pageSize]="pageSize" (pageChange)="onPageChange($event)"
                      [boundaryLinks]="true" [maxSize]="5" *ngIf="usersList.length > pageSize">
      </ngb-pagination>
        <!--Fin Paginacion-->
    </div><!--Fin container mt-4-->
  </div>
  <!--**************************Seccion de  Registro****************************-->
  <div *ngIf="recivedTabIndex==1" class="user-table-container">
    <div class="container mt-4">
      <h4 class="mb-4">{{usersLabel}}</h4>
      <form [formGroup]="usersForm" (ngSubmit)="onSubmit(usersButton)">
        <div class="row">
          <!-- Columna Izquierda -->
          <div id="Tools-Left-Column" class="col-md-6">
            <div class="mb-3">
              <label for="userName" class="form-label">&#160;Usuario</label>
              <input type="text" id="username" class="form-control col-form-label" formControlName="username" />
              <div *ngIf="usersForm.get('username')?.invalid && usersForm.get('username')?.touched" class="text-danger">
                *Requerido
              </div>
            </div>
            <div class="mb-3">
              <label for="firstname" class="form-label">&#160;Nombre</label>
              <input type="text" class="form-control col-form-label" formControlName="firstname" id="firstname" />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">&#160;Correo Electronico</label>
              <input type="email" class="form-control col-form-label" id="email" formControlName="email" aria-describedby="emailHelp" >
              <div *ngIf="usersForm.get('email')?.invalid && usersForm.get('email')?.touched" class="text-danger">
                *Requerido
              </div>
            </div><!---->
            <div class="mb-3">
              <label for="rol" class="form-label">&#160;Rol</label>
              <select class="form-select" formControlName="rol" [compareWith]="compareObjects">
                <option [ngValue]="null">-- Select --</option>
                <option *ngFor="let rol of roles" [ngValue]="rol">
                  {{ rol.name }}
                </option>
              </select>
            </div>
          </div>

          <!-- Columna Derecha -->
          <div id="Tools-Right-Column" class="col-md-6">
            <div class="mb-3">
              <label for="password" class="form-label">&#160;Clave</label>
              <input type="password" class="form-control" id="password"  formControlName="password" placeholder="Password">
              <div *ngIf="usersButton=='Registrar' && usersForm.get('password')?.invalid && usersForm.get('password')?.touched" class="text-danger">
                *Requerido
              </div>
            </div>
            <div class="mb-3">
              <label for="lastname" class="form-label">&#160;Apellidos</label>
              <input type="text" class="form-control col-form-label" formControlName="lastname" id="lastname" />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">&#160;Telefono</label>
              <input type="text" class="form-control col-form-label" formControlName="phone" id="phone" />
            </div>

            <div class="mb-3 ">
            <label class="form-label">&#160;</label>
            <div class="input-group-append"  >
              <div  class="text-end">
            <button type="submit" class="btn btn-sm btn-primary">{{usersButton}}</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="onCancel()">Cancelar</button></div>
            </div>
            </div>
          </div>          

        </div> <!--Termina Row-->

      </form>
    </div>
  </div>
</div>


