<div>
  <tabs [tabItems]="['Consulta', 'Registro']" [tabIcons]="['folder', 'plus-circle']" [requiredTabId]=reqTabId (tabIndex)="getMessage($event)"></tabs>
  <div *ngIf="recivedTabIndex==0" class="user-table-container">
    <div class="container mt-4">
      <h3 class="mb-4">Usuarios</h3>
      <div class="table-responsive">
        <input type="text" class="form-control" placeholder="Buscar por Categor&iacute;a"><!--[(ngModel)]="filterResults"-->
        <table class="user-table table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Nombre</th>
              <th>Correo Electr&oacute;nico</th>
              <th>Tel&eacute;fono</th>
            </tr>
          </thead>
          <tbody>
            @if (!isLoading) {
            @for (user of users1; track user.userId) {
            <tr (click)="userClicked()">
              <td style="text-align: center;">
                <img src="images/{{user.name }}_{{user.lastname}}.png" alt="{{ user.fullName }}'s avatar" />
              </td>
              <td>
                 {{ user.fullName }}
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
             
            </tr>
            }
            } @else {
            <tr>
              <td colspan="5" style="text-align: center">Cargando...</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div><!--Fin container mt-4-->
  </div>
  <!--**************************Seccion de  Registro****************************-->
  <div *ngIf="recivedTabIndex==1" class="user-table-container">
    <div class="container mt-4">
      <h4 class="mb-4">{{usersLabel}}</h4>
      <form [formGroup]="usersForm" (ngSubmit)="onSubmit(usersButton)">
        <div class="row">
          <!-- Columna Izquierda -->
          <div id="Tools-Left-Column" class="col-md-6">
            <div class="mb-3">
              <label for="userName" class="form-label">&#160;Usuario</label>
              <input type="text" id="userName" class="form-control col-form-label" formControlName="userName" />
              <div *ngIf="usersForm.get('userName')?.invalid && usersForm.get('userName')?.touched" class="text-danger">
                *Requerido
              </div>
            </div>
            <div class="mb-3">
              <label for="firstName" class="form-label">&#160;Nombre</label>
              <input type="text" class="form-control col-form-label" formControlName="firstName" id="firstName" />
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">&#160;Correo Electronico</label>
              <input type="email" class="form-control col-form-label" id="inputEmail" formControlName="inputEmail" aria-describedby="emailHelp" >
              <div *ngIf="usersForm.get('inputEmail')?.invalid && usersForm.get('inputEmail')?.touched" class="text-danger">
                *Requerido
              </div>
            </div><!---->
            <div class="mb-3">
              <label for="rol" class="form-label">&#160;Rol</label>
              <select class="form-select" formControlName="rol">
                <option [ngValue]="null">-- Select --</option>
                <option *ngFor="let rol of roles" [ngValue]="rol.rolId">
                  {{ rol.name }}
                </option>
              </select>
            </div>
          </div>

          <!-- Columna Derecha -->
          <div id="Tools-Right-Column" class="col-md-6">
            <div class="mb-3">
              <label for="inputPassword" class="form-label">&#160;Clave</label>
              <input type="password" class="form-control" id="inputPassword"  formControlName="inputPassword" placeholder="Password">
              <div *ngIf="usersForm.get('inputPassword')?.invalid && usersForm.get('inputPassword')?.touched" class="text-danger">
                *Requerido
              </div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">&#160;Apellidos</label>
              <input type="text" class="form-control col-form-label" formControlName="lastName" id="lastName" />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">&#160;Telefono</label>
              <input type="text" class="form-control col-form-label" formControlName="phone" id="phone" />
            </div>

            <div class="mb-3 ">
            <label class="form-label">&#160;</label>
            <div class="input-group-append"  >
              <div  class="text-end">
            <button type="submit" class="btn btn-sm btn-primary">{{usersButton}}</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="onCancel()">Cancelar</button></div>
            </div>
            </div>
          </div>          

        </div> <!--Termina Row-->

      </form>
    </div>
  </div>
</div>


