<div>
  <tabs [tabItems]="['Consulta', 'Registro']" [tabIcons]="['folder', 'plus-circle']" [requiredTabId]=reqTabId (tabIndex)="getMessage($event)"></tabs>
  <div *ngIf="recivedTabIndex==0" class="user-table-container">
    <div class="container mt-4">
      <h3 class="mb-4">Usuarios</h3>
      <div class="table-responsive">
        <input type="text" class="form-control" placeholder="Buscar por Categoría"><!--[(ngModel)]="filterResults"-->
        <table class="user-table table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Nombre Completo</th>
              <th>Email</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>
            @if (!isLoading) {
            @for (user of users1; track user.userId) {
            <tr (click)="userClicked()">
              <td style="text-align: center;">
                <!--img [src]="user.picture.thumbnail" alt="{{ user.name.fullName }}'s avatar" /-->
                {{ user.rol.name }}
              </td>
              <td>
                 {{ user.fullName }}
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
             
            </tr>
            }
            } @else {
            <tr>
              <td colspan="5" style="text-align: center">Loading...</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div><!--Fin container mt-4-->
  </div>
  <div *ngIf="recivedTabIndex==1" class="user-table-container">
    <div class="container mt-4">
      <h4 class="mb-4">{{usersLabel}}</h4>
      <form [formGroup]="usersForm" (ngSubmit)="onSubmit(usersButton)">
        <div class="row">
          <!-- Columna 1 -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" id="name" class="form-control col-form-label" formControlName="name" />
              <div *ngIf="usersForm.get('name')?.invalid && usersForm.get('name')?.touched" class="text-danger">
                El Nombre de la Categoría es un campo requerido
              </div>
            </div>
            <div class="mb-3">
              <label>Tipo</label>
              <input type="text" class="form-control col-form-label" formControlName="categoryType" id="categoryType" />
              <div *ngIf="usersForm.get('categoryType')?.invalid && usersForm.get('categoryType')?.touched"
                class="text-danger">
                El Tipo de la Categoría es un campo requerido
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 text-end">
          <button type="submit" class="btn btn-sm btn-primary">{{usersButton}}</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="onClear()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


