<!--div style="background-color: #E6F0DC;" class="row pt-3"-->

  <div class="container-fluid">
    <div style="background-color: #E6F0DC;" class="row row flex-nowrap pt-3">
      <div class="col desktop-only-content" style="align-items: center; justify-content: center;" id="logo">
        <a href="/" class=" d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <img src="images/logo.png" width="100" height="50" class="align-items-center" />
        </a>
      </div>
      <div class="col mobile-only-content" style="align-items: center; justify-content: center;" id="btnToggle">
        <div role="button" (click)="toggleSideMenu()" class="col header_toggle"> <i style="color: #222f04; text-decoration: none;"  class='bi bi-list' id="header-toggle"></i> </div>
      </div>
      <div class="col" id="title">
        <h2 class="pacifico">Martinez Gardening</h2>
      </div>
      <div class="col d-flex justify-content-end" id="inoutsign">
        <div ngbDropdown  class="tex dropdown mt-sm-auto ms-auto ms-sm-0 flex-shrink-1 ">
          <a class="px-sm-0 px-2 nav-link" ngbDropdownToggle id="dropdownUser1" role="button">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="35" height="35" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">Omar</span>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownUser1" class="dropdown-menu ">
            <a class="dropdown-item" href="#">Sign out</a>
          </div>
        </div>
      </div>
    </div>
  </div>  





<!-- Popover menu -->
<ng-template #menu let-hide>
  <!-- This menu-content is generic class can be override with custom style as well, adjust width value directly as per need -->
  <div class="popper-menu-content" style="width: 150px">
    <ul>
      <li (click)="hide()">
        <label translate>Profile</label>
      </li>
      <li (click)="hide()" routerLink="/logout">
        <label translate>Logout</label>
      </li>
    </ul>
  </div>
</ng-template>
