<!--nav>
  <p style="background-color: blue;"  class="title" translate>Titulo de la Pagina</p>
  <app-language-selector></app-language-selector>
</nav-->

<div style="background-color: #E6F0DC;" class="row pt-3">
  <h2 style="background-color: #E6F0DC; text-align: center;" class="pacifico">Martinez Gardening</h2><!--class="fst-italic"-->
</div>


<!-- Popover menu -->
<ng-template #menu let-hide>
  <!-- This menu-content is generic class can be override with custom style as well, adjust width value directly as per need -->
  <div class="popper-menu-content" style="width: 150px">
    <ul>
      <li (click)="hide()">
        <label translate>Profile</label>
      </li>
      <li (click)="hide()" routerLink="/logout">
        <label translate>Logout</label>
      </li>
    </ul>
  </div>
</ng-template>
