nav {
  position: relative;
  background-color: var(--white);
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
}



    /* Hide the content on screens up to a certain width (e.g., 768px for common mobile breakpoints) */
    @media only screen and (max-width: 768px) {
        .desktop-only-content {
            display: none;
        }
    }
