nav {
  position: relative;
  background-color: var(--white);
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
}

/*.manuscrita {
  font-family: "La Belle Aurore", cursive;
  /* Reemplaza con tu fuente deseada * /
}*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Cookie&display=swap');

.handwritten {
  font-family: 'Dancing Script', cursive;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.cookie {
  font-family: 'Cookie', cursive;
}

