<div>
  <tabs [tabItems]="['Consulta', 'Registro']" [tabIcons]="['folder', 'plus-circle']" [requiredTabId]=reqTabId (tabIndex)="getMessage($event)">
  </tabs>
  <div *ngIf="recivedTabIndex==0" class="containerCategory">
    <div class="container mt-4">
      <h3 class="mb-4">Categorías</h3>
      <div class="table-responsive">
        <input type="text" class="form-control" placeholder="Buscar por Categoría" (keyup)="onKeyUp($event)" [(ngModel)]="categoryEntitiyToGet"><!--[(ngModel)]="filterResults"-->
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-bordered">
            <tr>
                <th>Nombre</th>
               <!-- <th>Tipo</th>
              <th>Activo</th>-->
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (category of paginatedCategories; track category.categoryId) {
            <tr> <!--*ngFor="let category of categoryList | async "-->
              <td style="width: 42%;">{{ category.name }}</td>
              <!--<td style="width: 42%;">{{ category.categoryType }}</td>
              <td>{{ category.enabled }}</td>-->
              <td style="width: 42%;"><button *ngIf="category.name.toLowerCase() !== 'general' " class="btn btn-sm btn-outline-info" (click)="updateCategory(category)" ngbTooltip="Actualizar Categoría"><i
                    class="bi bi-pencil-fill"></i>
                </button>
                <button *ngIf="category.name.toLowerCase() !== 'general' "  class="btn btn-sm btn-outline-danger" (click)="deleteCategory(category)"  ngbTooltip="Eliminar Categoría"><i
                    class="bi bi-trash-fill"></i>
                </button></td>
            </tr>
          }
          </tbody>
        </table>
        <!-- Paginación -->
        <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
          [collectionSize]="categories.length" (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5"
          *ngIf="categories.length> pageSize">
        </ngb-pagination>
        <!--Fin Paginacion-->
      </div>
    </div><!--Fin container mt-4-->
  </div>
  <div *ngIf="recivedTabIndex==1" class="containerCategory">
    <div class="container mt-4">
      <h4 class="mb-4">{{categoryLabel}}</h4>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryButton)">
        <div class="row">
          <!-- Columna 1 -->
          <div id="Category-Left-Column" class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre*</label>
              <input type="text" id="name" class="form-control col-form-label" formControlName="name" />
              <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched" class="text-danger">
                Campo requerido
              </div>
            </div>
            <!--<div class="mb-3">  POR EL MOMENTO ESTA DESHABILITADA, NO BORRAR
              <label>Tipo</label>
              <input type="text" class="form-control col-form-label" formControlName="categoryType" id="categoryType"/>
            </div>-->
          </div>

          <div id="Tools-Right-Column" class="col-md-6 ">
            <div class="d-flex justify-content-end" style="height: 90%;">
          
              <div class="align-self-end text-end">
                <button type="submit" class="btn btn-sm btn-outline-primary">{{categoryButton}}</button>
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="onCancel()">Cancelar</button>
              </div>
            </div>
          
          </div>
        
        </div>
      </form>
    </div>
  </div>
</div>