<div>
  <tabs [tabItems]="['Consulta', 'Registro']" [tabIcons]="['folder', 'plus-circle']" [requiredTabId]=reqTabId (tabIndex)="getMessage($event)">
  </tabs>
  <div *ngIf="recivedTabIndex==0" class="my-div">
    <div class="container mt-4">
      <h3 class="mb-4">Listado de Categorías</h3>
      <div class="table-responsive">
        <input type="text" class="form-control" placeholder="Buscar por Categoría"><!--[(ngModel)]="filterResults"-->
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-bordered">
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <!--<th>Activo</th>-->
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categoryList |async">
              <td style="width: 42%;">{{ category.categoryType }}</td>
              <td style="width: 42%;">{{ category.name }}</td>
              <!--<td>{{ category.enabled }}</td>-->
              <td style="width: 8%; text-align: center; "><button *ngIf="category.name.toLowerCase() !== 'general' " class="btn btn-sm btn-primary me-2" (click)="updateCategory(category)"><i
                    class="bi bi-pencil-fill"></i>
                </button></td>
              <td style="width: 8%; text-align: center;"><button *ngIf="category.name.toLowerCase() !== 'general' "  class="btn btn-sm btn-danger" (click)="deleteCategory(category)"><i
                    class="bi bi-trash-fill"></i>
                </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!--Fin container mt-4-->
  </div>
  <div *ngIf="recivedTabIndex==1" class="my-div">
    <div class="container mt-4">
      <h4 class="mb-4">{{categoryLabel}}</h4>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryButton)">
        <div class="row">
          <!-- Columna 1 -->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" id="name" class="form-control col-form-label" formControlName="name" />
              <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched" class="text-danger">
                El Nombre de la Categoría es un campo requerido
              </div>
            </div>
            <div class="mb-3">
              <label>Tipo</label>
              <input type="text" class="form-control col-form-label" formControlName="categoryType" id="categoryType"/>
              <div *ngIf="categoryForm.get('categoryType')?.invalid && categoryForm.get('categoryType')?.touched"
                class="text-danger">
                El Tipo de la Categoría es un campo requerido
              </div>
            </div>
          </div>          
        </div>
        <div class="mt-3 text-end">
          <button type="submit" class="btn btn-sm btn-primary">{{categoryButton}}</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="onClear()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>