/* nav-horizontal.component.css */
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #9dfd0d3d;
  font-weight: bold;
}

.tool-table-container {
  margin: 20px;
}

.tool-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

.containerCategory {
  //width: 85%;
  /* Ancho deseado */
  margin: 0 auto;
  /* Centra horizontalmente */
  background-color: rgba(235, 243, 238, 0.678);
  /* Opcional, para visualizar */
  height: 100%;
}

// NAVS
.close {
  font-size: 1.4rem;
  opacity: 0.1;
  transition: opacity 0.3s;
}

.nav-link:hover > .close {
  opacity: 0.8;
}
//FIN NAVS
