<div>
    <tabs [tabItems]="['Consulta Facturas']" [tabIcons]="['folder']"></tabs>
    <div *ngIf="recivedTabIndex==0" class="containerInvoice">
        <div class="container mt-4">
            <h3 class="mb-4">Facturas Cerradas</h3>
            <div class="table-responsive">
                <input type="text" class="form-control" placeholder="Buscar Facturas por Cliente o Mes" (keyup)="onKeyUp($event)" [(ngModel)]="entitiyToGet" (ngModelChange)="onNameChange($event)">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Servicio</th>
                                <th><a role="button" (click)="sortDate('invoiceDate')" ngbTooltip="Por Fechas">Fecha de Servicio</a><i class="bi bi-{{arrow}}"></i></th>
                                <th>Fecha de Pago</th>
                                <th>Estado Factura</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (!isLoading) {

                            <ng-container> <!--*ngFor="let parentItem of serviceList"   paginatedServices-->
                                @for (parentItem of paginatedServices; track parentItem.serviceId; let i = $index) {

                                <tr>
                                    <td> <!-- Cliente -->
                                        {{parentItem.client.name}} {{parentItem.client.lastName}}
                                    </td>

                                    <td> <!-- Servicio -->
                                        {{ parentItem.serviceName }}
                                    </td>

                                    <td> <!--Fecha de Servicio -->

                                        {{parentItem.invoice[0].invoiceDate }}
                                    </td>
                                     <td> <!--Fecha de pago -->

                                        {{parentItem.invoice[0].payment[0].paymentDate }}
                                    </td>

                                    <td> <!-- Estado del pago  -->
                                        <div class="form-check form-switch">
                                            <label class="form-check-label" for="flexSwitchCheckRecurrente">{{parentItem.invoice[0].payment[0].paymentStatus.replaceAll('o','a')}}</label>
                                            <input class="form-check-input" disabled type="checkbox" id="flexSwitchCheckPayStatus" [(ngModel)]="parentItem.invoice[0].payment[0].isServicePaid">
                                        </div>
                                    </td>

                                    <td> <!--Acciones  -->
                                        <button *ngIf="parentItem.status == 'Cerrado'" class="btn btn-sm btn-outline-success" (click)="onViewPDF(parentItem.invoice[0].invoiceName)"
                                            ngbTooltip="Ver Factura del Servicio"><i class="bi bi-filetype-pdf"></i></button>
                                   
                                        <button class="btn btn-sm btn-outline-info" (click)="sendEmail(parentItem)" ngbTooltip="Reenviar Factura"><i class="bi bi-envelope-at"></i></button>
                                    </td>
                                </tr>
                                }
                            </ng-container>
                            } @else {
                            <tr>
                                <td colspan="8" style="text-align: center">Cargando....</td>
                            </tr>
                            }
                        </tbody>
                    </table>
   
                    <!-- Paginación -->
                    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
                        [collectionSize]="serviceList.length" (pageChange)="onPageChange($event)" [boundaryLinks]="true"
                        [maxSize]="5" *ngIf="serviceList.length > pageSize"> {{serviceList.length}} </ngb-pagination>
                    <!--Fin Paginacion-->

                </div>

            </div>
        </div><!--Fin container mt-4-->
    </div>

    <app-pdfviewer #modal [modalConfig]="modalConfig">
       <div class="pdf-viewer">
            <object [data]="pdfUrl | safePipe" type="application/pdf"></object>
      </div>
    </app-pdfviewer>
</div>