<div class="container-fluid ">
  <div class="row flex-nowrap ">
     
    <div id="sidebarcolumn" style="background-color: #586e26;" 
         class="col-2 col-md-2 col-xl-2 px-sm-2 px-0 ">
      <aside>
        <app-sidebar></app-sidebar>
      </aside>
    </div>
    <div id="contentcolumn" class="col-10 col-md-10 col-xl-10  px-0  d-flex flex-column h-100">
      <main>
        <header>
          <app-header></app-header>
        </header>
        <div >
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</div>